#box1{
    height: 200px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}
#box2{
    
    width: 30%;
    background-color: yellow;
    margin-left: 20px;  /*10% of 200px*/
    font-size: 2em; /*20px */
    width: 5rem; /*5*20px*/
    height: 100vh;
    
}
