*{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f0101;
}
a{
    text-decoration: none;
    margin-right: 200px;
}
button{
    color: #f08804;
    CURSOR: POINTER;
}

#logo{
    color: orange;
    font-size: 25px;
    margin-right: 200px;
}