/* Navbar */


#navbar{
    height:60px;
    background-color: #0f0101;
    
}
a{
    text-decoration: none;
    margin-right: 200px;
    color: white;
}

button{
    background-color: orange;
    color: white;
    cursor: pointer;
}
#logo{
    color: #f08804;
    font-size:25px;
    margin-right: 200px;
}

/* Content */

.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid #f11111;
    display: inline-block;
    
}

#content{
    height: 600px;
}

footer{
    margin-top: 20px;
    background-color: #0f1111;
    color: white;
    text-align: center;
}