body{
    
    display: flex;
    justify-content: center;
    align-self: start;
    
}   
div{
    background-color:aqua;
}
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    
}
#box1{
    position:static;
}
#box2{
    position: relative;
    top:20px;
    left:10px;
    z-index: 1;
    

}
#box3{
    position: absolute;
    top: 500px; /*from browser*/
    left: 20px;

}
#box4{
     position: fixed;
     /*<header> <footer> -> postion: fixed;*/
     top: 50px;
     z-index:-1;

}