p{
    font-size:25px;
}
div{
    height: 100px;
    width: 100px;
    background-image: url("/BasicCss/PracticeSet/natureGreen.jpg");
    background-size: cover;
    color: white;
    position: fixed;
right:50%;
}    
