.circle-wrap{
    height: 200px;
    width: 80px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.circle1,.circle2,.circle3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.circle1{
    background-color: red;
}
.circle2{
    background-color: yellow;
}
.circle3{
    background-color: green;
}