div{
    height: 50px;
    width: 50px;
    background-color: pink;
}

/* #width exactly 600px */
@media(width: 600px){
    div{
        background-color: red;
    }
}



@media(min-width: 600px) {
    div{
        background-color: green;
        width:400px;
        height: 400px;
    }
}


@media(min-width: 200px) and (max-width:300px){
    div{
        background-color:blue;
        width:200px;
        height: 200px;
    }
}