.circle-wrap{
    height: 150px;
    width:80px;
    background-color: black;
    padding: 10px;
}
.circle1,
.circle2,
.circle3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px auto;
}
.circle1{
    background-color:red ;
}
.circle2{
    background-color:yellow ;
}
.circle3{
    background-color: green ;
}