*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height:60px;
    background-color: #0f0101;
    
}
a{
    text-decoration: none;
    margin-right: 200px;
}

button{
    color:#f08804;
    cursor: pointer;
}
#logo{
    color: #f08804;
    font-size:25px;
    margin-right: 200px;
}