.navbar ul{
    background-color: rgb(192, 255, 240);
    display: flex;
    justify-content: space-evenly; 
}


a{
    text-decoration: none;
    color: rgb(6, 78, 140);
    /* background-color: aquamarine; */

}

li{
    /* list-style: none; */
    list-style-type: none;
}
.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;


    
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* align-self: flex-start; */
}
